.title-bar {
	padding: .5rem;
	background: #0a0a0a;
	color: #fefefe;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-ms-flex-align: center;
	align-items: center;
}

.title-bar .menu-icon {
	margin-left: .25rem;
	margin-right: .25rem;
}

.title-bar-left,
.title-bar-right {
	-ms-flex: 1 1 0;
	    flex: 1 1 0;
}

.title-bar-right {
	text-align: right;
}

.title-bar-title {
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
}
