.callout {
	position: relative;
	margin: 0 0 1rem 0;
	padding: 1rem;
	border: 1px solid rgba(10, 10, 10, .25);
	border-radius: 3px;
	background-color: white;
	color: #0a0a0a;
}
.callout > :first-child {
	margin-top: 0;
}
.callout > :last-child {
	margin-bottom: 0;
}
.callout.primary {
	background-color: #def2f8;
	color: #0a0a0a;
}
.callout.secondary {
	background-color: #fcfcfc;
	color: #0a0a0a;
}
.callout.alert {
	background-color: #fcd6d6;
	color: #0a0a0a;
}
.callout.success {
	background-color: #e6f7d9;
	color: #0a0a0a;
}
.callout.warning {
	background-color: #fff3d9;
	color: #0a0a0a;
}
.callout.body-font {
	background-color: #dedede;
	color: #0a0a0a;
}
.callout.header {
	background-color: #dedede;
	color: #0a0a0a;
}
.callout.small {
	padding-top: .5rem;
	padding-right: .5rem;
	padding-bottom: .5rem;
	padding-left: .5rem;
}
.callout.large {
	padding-top: 3rem;
	padding-right: 3rem;
	padding-bottom: 3rem;
	padding-left: 3rem;
}
