

.card {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin-bottom: 1rem;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	background: #fefefe;
	box-shadow: none;
	overflow: hidden;
	color: #0a0a0a;
}
.card > :last-child {
	margin-bottom: 0;
}

.card-divider {
	-ms-flex: 0 1 auto;
	    flex: 0 1 auto;
	display: -ms-flexbox;
	display: flex;
	padding: 1rem;
	background: #e6e6e6;
}
.card-divider > :last-child {
	margin-bottom: 0;
}

.card-section {
	-ms-flex: 1 0 auto;
	    flex: 1 0 auto;
	padding: 1rem;
}
.card-section > :last-child {
	margin-bottom: 0;
}

.card-image {
	min-height: 1px;
}
