
.label {
	display: inline-block;
	padding: .33333rem .5rem;
	border-radius: 3px;
	font-size: .8rem;
	line-height: 1;
	white-space: nowrap;
	cursor: default;
	background: #2ba6cb;
	color: #fefefe;
}
.label.primary {
	background: #2ba6cb;
	color: #0a0a0a;
}
.label.secondary {
	background: #e9e9e9;
	color: #0a0a0a;
}
.label.alert {
	background: #c60f13;
	color: #fefefe;
}
.label.success {
	background: #5da423;
	color: #0a0a0a;
}
.label.warning {
	background: #ffae00;
	color: #0a0a0a;
}
.label.body-font {
	background: #222;
	color: #fefefe;
}
.label.header {
	background: #222;
	color: #fefefe;
}
