

.progress {
	height: 1rem;
	margin-bottom: 1rem;
	border-radius: 3px;
	background-color: #cacaca;
}
.progress.primary .progress-meter {
	background-color: #2ba6cb;
}
.progress.secondary .progress-meter {
	background-color: #e9e9e9;
}
.progress.alert .progress-meter {
	background-color: #c60f13;
}
.progress.success .progress-meter {
	background-color: #5da423;
}
.progress.warning .progress-meter {
	background-color: #ffae00;
}
.progress.body-font .progress-meter {
	background-color: #222;
}
.progress.header .progress-meter {
	background-color: #222;
}

.progress-meter {
	position: relative;
	display: block;
	width: 0;
	height: 100%;
	background-color: #2ba6cb;
	border-radius: 3px;
}

.progress-meter-text {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	position: absolute;
	margin: 0;
	font-size: .75rem;
	font-weight: bold;
	color: #fefefe;
	white-space: nowrap;
	border-radius: 3px;
}
