
.thumbnail {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 1rem;
	border: solid 4px #fefefe;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(10, 10, 10, .2);
	line-height: 0;
}

a.thumbnail {
	transition: box-shadow 200ms ease-out;
}
a.thumbnail:hover,
a.thumbnail:focus {
	box-shadow: 0 0 6px 1px rgba(43, 166, 203, .5);
}
a.thumbnail image {
	box-shadow: none;
}
