.position-static {
	position: static !important;
}

.position-relative {
	position: relative !important;
}

.position-absolute {
	position: absolute !important;
}

.position-fixed {
	position: fixed !important;
}

.position-fixed-top {
	position: fixed !important;
	top: 0rem !important;
	right: 0rem !important;
	left: 0rem !important;
	z-index: 975;
}

.position-fixed-bottom {
	position: fixed !important;
	right: 0rem !important;
	bottom: 0rem !important;
	left: 0rem !important;
	z-index: 975;
}
